.Rproj.user
.Rhistory
.RData
.Ruserdata
datahandling.Rproj
materials/notes/.materials
materials/slides/00_template.Rmd
materials/slides/00_template.html
materials/notes/00_template.Rmd
materials/slides/09_polecon*
materials/slides/preamble.tex
materials/references/intro_datatechnologies_murrell.pdf
materials/references/r4ds-master/
materials/satire/
style/ppt_black.potx
code/survey_static.Rmd
code/survey_static2.Rmd
code/pics.R
code/common.R
code/dataprep.R
code/exercises5.R
code/lecture10.R
code/lecture11.R
code/lecture6.R
materials/slides/09_polecon_ds.pdf
materials/slides/09_polecon_ds.tex
materials/slides/preamble.tex
style/*.eps
.DS_Store
*/.DS_Store
datahandling_factsheet.pdf

todo_improvements.txt
project.Rproj
short_prompt.sh
materials/img/venn_diagramm_01.pdf
materials/img/venn_diagramm_01.png
materials/img/venn_diagramm_02.pdf
materials/img/venn_diagramm_02.png
materials/img/venn_diagramm_03.pdf
materials/img/venn_diagramm_03.png
materials/img/venn_diagramm_04.pdf
materials/img/venn_diagramm_04.png
materials/img/venn_diagramm_05.pdf
materials/img/venn_diagramm_05.png
materials/img/venn_diagramm_06.pdf
materials/img/venn_diagramm_06.png
materials/img/venn_diagramm_07.pdf
materials/img/venn_diagramm_07.png
materials/img/venn_diagramm_08.pdf
materials/img/venn_diagramm_08.png
materials/img/venn_diagramm_full.pdf
