.Rproj.user
.Rhistory
.RData
.Ruserdata
datahandling.Rproj
materials/notes/.materials
materials/slides/00_template.Rmd
materials/slides/00_template.html
materials/notes/00_template.Rmd
materials/slides/09_polecon*
materials/slides/preamble.tex
materials/references/intro_datatechnologies_murrell.pdf
materials/references/r4ds-master/
materials/satire/
style/ppt_black.potx
code/survey_static.Rmd
code/survey_static2.Rmd
code/pics.R
code/common.R
materials/img/turing_project.png
materials/img/voters_likedata.pdf
materials/img/voters_likedata_onlyassign.pdf
materials/img/votesmart.png
materials/sourcecode/pvsr_example.R
materials/img/ballot20box.jpg
materials/img/confl_scatter.pdf
materials/img/distrib_numb_confl_AS.pdf
materials/img/elect_security.pdf
materials/img/elect_security_int.pdf
materials/img/eval_aspects.png
materials/img/eval_objectives.pdf
materials/img/eval_objectives.png
materials/img/govtrack.png
materials/img/hanna.jpg
materials/img/placebo_effects.pdf
materials/img/plos.png
materials/img/plos_api1.png
materials/img/plos_api2.png
materials/img/plos_atty1.PNG
materials/img/plos_atty2.PNG
materials/img/plos_map.png
materials/img/principal_agent1.pdf
materials/img/principal_agent2.pdf
materials/img/principal_agent3.pdf
materials/img/principal_agent4.pdf
materials/img/rampage.pdf
materials/img/rampage2.pdf
materials/img/robustn_diff_constit_meas.pdf
materials/img/robustn_diff_money_interv.pdf
materials/img/opensecrets.png
materials/img/opensecrets.svg
materials/img/opensecrets2.pdf
materials/img/opensecrets2.png
materials/img/opensecrets2.svg
materials/img/techdist.pdf
materials/img/terror.pdf
materials/img/network_apis.svg
materials/img/network_apis_1.png
materials/img/network_apis_2.png
materials/img/network_apis_3.png
materials/img/network_apis_4.png
materials/img/network_apis_5.png
materials/img/network_apis_final.png
materials/img/network_apis_final.svg
materials/img/network_apis_final_all.png
materials/img/network_apis_final_votesmart.png
materials/img/numb_positions_sect.pdf
materials/img/lawyer_tort.png
materials/img/leviathan.jpg
materials/img/main_effects_inSD.pdf
materials/img/main_effects_inSD_different_intervals.pdf
materials/img/main_effects_inSD_lastcycle.pdf
materials/img/maplight.jpg
materials/img/maplight_logo.png
materials/img/money_likedata.pdf
materials/img/money_likedata_onlyassign.pdf
materials/img/trump_family.jpg
materials/img/effects_inSD_rampageonly_ASconfl.pdf
materials/img/economist_corr_hdev.png
code/dataprep.R
code/exercises5.R
code/lecture10.R
code/lecture11.R
code/lecture6.R
materials/img/natdist.pdf
materials/slides/09_polecon_ds.pdf
materials/slides/09_polecon_ds.tex
materials/slides/preamble.tex

