.Rproj.user
.Rhistory
.RData
.Ruserdata
datahandling.Rproj
materials/notes/.materials
materials/slides/00_template.Rmd
materials/slides/00_template.html
materials/notes/00_template.Rmd
materials/slides/09_polecon*
materials/slides/preamble.tex
materials/references/intro_datatechnologies_murrell.pdf
materials/references/r4ds-master/
materials/satire/
style/ppt_black.potx
code/survey_static.Rmd
code/survey_static2.Rmd
code/pics.R
code/common.R
materials/img
code/dataprep.R
code/exercises5.R
code/lecture10.R
code/lecture11.R
code/lecture6.R
materials/slides/09_polecon_ds.pdf
materials/slides/09_polecon_ds.tex
materials/slides/preamble.tex
style/*.eps
